@import './color.css';

:root {
  --empty-width: 560px;
  --table-width: 800px;
  --empty-padding: 45px 20px;
  --empty-icon: 120px;
  --color-width: 60px;
  --cat-width: 40px;
  --cus-width: 520px;
  --t-btn-height: 36px;
  --dis-width: 600px
}
.add_row_back1 {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.i_list_header_z {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.i_list_header1_z {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.icon_btn{
  position: relative;
  border: none;
  background-color: var(--root-color);
  font-size: 20px;
  margin-left: 500px;
  cursor: pointer;
}
.card_container1 {
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  width: var(--table-width);
  padding: var(--page-padding);
  border-radius: var(--radius);
  display: flex;
  flex-flow: column;
  max-width: var(--safe-width);
}
.s_container_z {
  margin: var(--page-padding);
  max-height: calc(110vh - var(--header-height) - var(--page-padding) * 2);
  overflow: scroll;
}

.gap {
    width: var(--page-padding);
    height: var(--page-padding);
  }
.cus_back {
    background-color: var(--root-color);
    border-radius: var(--radius);
    box-shadow: 0px 2px 5px rgba(0,0,0,.15);
    padding: var(--page-padding);
    width: var(--cus-width);
  }
.cus_row {
    display: flex;
    flex-flow: row;
  }
.invt_btn_row_z {
    border: none;
    padding: 0;
    margin: 10px 0 var(--page-padding) 0;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    max-width:calc(var(--dis-width)) ;
  }
  
.new_cus{
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
  }
.profile{
    width: 60px;
    height: 60px;
    margin: 0 210px;
    border-radius: 50%;
  }
.c_input_descr {
    border: none;
    color: var(--text-color);
    font-size: 14px;
  }
.c_input_descr:focus {
    outline: none;
  }
.cus_icon{
    color: var(--text-color);
    font-size: 16px;
    margin: 0 3px;
}

.c_input {
  border: none;
  color: var(--text-color);
  font-size: 14px;
  height: 32px;
  padding-left: 0;
}
.c_input:focus, .m_input_descr:focus {
  outline: none;
}

.c_input:disabled {
  cursor: not-allowed;
}
.cust_back {
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid var(--text4-color);
  margin: 20px 0 0 0;
  padding: 3px 0;
}
.cust_back:focus-within {
  border-bottom: 1px solid var(--success-color);
}

.cust_back:focus-within .select_lbl {
  color: var(--success-color);
}

.i_list_cont_z {
  background-color: var(--root-color);
  border-radius: var(--radius);
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  padding: var(--page-padding);
}
.i_list_cont_zz {
  background-color: var(--root-color);
  border-radius: var(--radius);
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  padding: var(--page-padding);
}


.ih_input_icon_z {
  color: var(--text2-color);
  font-size: 20px;
  margin: 0 10px;
}

.ih_input_z {
  border: none;
  box-shadow: none;
  flex: 1;
  color: var(--text-color);
  font-size: 14px;
}

.ih_input_z:focus {
  outline: none;
}

.ih_input_close_z {
  color: var(--text3-color);
  font-size: 16px;
  margin: 0 10px;
}

.ih_input_close_z:hover {
  cursor: pointer;
  color: var(--config-color);
}

 .line{
  border-top: 1px solid var(--line-color);
  margin-top: var(--page-padding);
  align-items: center;
  }
.line1{
    display: flex;
    flex-flow: row;
    margin: 10px 0 0 10px;
  }
.c_tab_back1 {
    padding: 0 ;
    margin-top: 20px ;
  }

.empty_back1 {
  background-color: var(--root-color);
  padding: 30px 0;
  border-radius: var(--radius);
  display: flex;
  flex-flow: column;
  align-items: center;
}
.ih_header1_z {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.ih_header2_z {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}


#ih_small .ih_btn_z {
  box-shadow: none;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 13px;
  font-weight: 500;
  margin-left: 5px;
  padding: 3px 5px;
}
#ih_large .ih_btn_z {
  box-shadow: none;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 13px;
  font-weight: 500;
  margin-left: 5px;
  padding: 3px 5px;
}

#ih_large .ih_btn_z:hover, #ih_small .ih_btn_z:hover {
  background-color: var(--back-color);
  cursor: pointer;
  border-radius: var(--radius);
}

#ih_large .ih_btn_z:disabled, #ih_small .ih_btn_z:disabled {
  cursor: not-allowed;
  color: var(--text4-color);
  background-color: transparent;
}
#ih_large .ih_search_back_z {
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  right: var(--page-padding);
  display: flex;
  flex-flow: row;
  align-items: center;
  border-radius: var(--radius);
}

#ih_small .ih_search_back_z{
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  display: flex;
  flex-flow: row;
  align-items: center;
  left: 0;
  border-radius: var(--radius);
  bottom: -10px;
  max-width: 412;
}
.rp_list_search_back_s {
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  right: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  border-radius: var(--radius);
}
.sub_row {
  width: 250px;  
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0 0 5px 0;
}

.sub_row_label, .sub_row_value {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}
.sub_title{
  margin: 10px 0 0 10px;
}