@import './color.css';
:root {
  --empty-width: 560px;
  --empty-padding: 45px 20px;
  --empty-icon: 120px;
  --color-width: 60px;
  --cat-width: 40px;
  --invt-width: 720px;
  --t-btn-height: 36px;
}

.select_back1 {
    display: flex;
    flex-flow: row;
    border-bottom: 1px solid var(--text4-color);
    margin: 20px 0 0 0;
    padding: 3px 0;
  }
.select_lbl1 {
    color: var(--text2-color);
    font-size: 14px;
    font-weight: 450;
    align-items: center;
    margin: 7px 20px 0 0  ;
  }
.a_item_check1.ant-switch-checked .ant-switch-handle:before {
    background-color: var(--config-color);
  }
.a_item_check1.ant-switch-checked {
  background-color: var(--config-c-color) !important;
}
#mo_ac_back {
  width: 600px;
}
.ac_title_z {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  }
.ac_empty_back_z {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 10px 0;
  }
.ac_empty_icon_z {
  color: var(--line-color);
  height: 120px;
  width: 120px;
  margin: 20px 0 15px 0;
  }
.invt_btn_row_z {
  border: none;
  padding: 0;
  margin: 10px 0 var(--page-padding) 0;
  display: flex;
  flex-flow: row;
  width: 600px;
  justify-content: flex-end;
  align-items: center;
}
.gap1 {
  width: 150px;
  height: var(--page-padding);
}

