.cou_select_back{
    width: 180px;
    margin: 0 15px;
}

.cou_select_back1{
    width: 180px;
    margin: 0 10px;
}
#co_btn{
    max-width: 700px;
}
.cou_add_back {
    flex: 1;
    background-color: var(--root-color);
    border-radius: var(--radius);
    box-shadow: 0px 2px 5px rgba(0,0,0,.15);
    padding: var(--page-padding);
    max-width: 550px;
}

.cou_main_back {
    display: flex;
    flex-flow: row;
}
.cou_site_back {
    background-color: var(--root-color);
    border-radius: var(--radius);
    box-shadow: 0px 2px 5px rgba(0,0,0,.15);
    padding: var(--page-padding);
    max-width: 550px;
    margin-top: 10px;
}
.cou_service_back {
    background-color: var(--root-color);
    border-radius: var(--radius);
    box-shadow: 0px 2px 5px rgba(0,0,0,.15);
    padding: var(--page-padding);
    max-width: 700px;
    margin-top: 10px;
}
#vo_btn{
    max-width: 800px;
}
.vou_service_back {
    background-color: var(--root-color);
    border-radius: var(--radius);
    box-shadow: 0px 2px 5px rgba(0,0,0,.15);
    padding: var(--page-padding);
    max-width: 800px;
    margin-top: 10px;
}
.cou_title_back{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.cou_row{
    display: flex;
    flex-flow: row;
    margin-top: 20px;
}

.cou_select.ant-select .ant-select-selector {
    box-shadow: none;
    border: none;
    color: var(--text-color);
    font-size: 14px;
    background-color: var(--back-color);
    border-radius: var(--radius);
    max-width: 100%;
    width: 210px;
}
  
.cou_select .ant-select-selector {
    box-shadow: none !important;
}

.cou_select .ant-select-arrow {
    color: var(--text4-color);
    font-size: 16px;
}
.cou_select1.ant-select .ant-select-selector {
    box-shadow: none;
    border: none;
    color: var(--text-color);
    font-size: 14px;
    background-color: var(--back-color);
    border-radius: var(--radius);
    max-width: 100%;
    width: 95px;
}
  
.cou_select1 .ant-select-selector {
    box-shadow: none !important;
}

.cou_select1 .ant-select-arrow {
    color: var(--text4-color);
    font-size: 16px;
}

.cou_select2.ant-select .ant-select-selector {
    box-shadow: none;
    border: none;
    color: var(--text-color);
    font-size: 14px;
    background-color: var(--back-color);
    border-radius: var(--radius);
    max-width: 100%;
    width: 270px;
}
  
.cou_select2 .ant-select-selector {
    box-shadow: none !important;
}

.cou_select2 .ant-select-arrow {
    color: var(--text4-color);
    font-size: 16px;
}
.cou_select_lbl {
    font-size: 12px;
    color: var(--text2-color);
    font-weight: 500;
    margin: 0 0 1px 0;
}
.cou_select_lbl1 {
    font-size: 12px;
    color: var(--text2-color);
    font-weight: 500;
    margin: 0 0 1px 0;
    width: 270px;
}
.cou_title {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 550;
    margin: 0;
}
.cou_add_btn {
    border: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: var(--config-color);
    border-radius: var(--radius);
    padding: 5px 10px;
    color: var(--root-color);
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
    height: 30px;
    margin-top: 20px;
  }
  
.cou_add_btn:hover {
    background-color: var(--config-b-color);
    cursor: pointer;
}

.empty_back2 {
    background-color: var(--root-color);
    padding: 20px 0;
    /* box-shadow: 0px 2px 5px rgba(0,0,0,.15); */
    border-radius: var(--radius);
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
}
.empty_icon_back2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--back-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.coupon_text{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
.coupon_image_back{
    width: 450px;
    height: 200px;
    margin: 10px 30px;
    position: relative;
}
.coupon1{
    margin-top: -50px;
    position: absolute;

}
.image_back{
    border-radius: 30px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.15);
    padding: var(--page-padding);
    width: 400px;
    height: 200px;
    margin: 10px 30px;
}
.cou_circle_back {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--back-color);
    position: relative;
    top: -140px;
}
.circle1 {
    display: flex;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: var(--back-color);
    padding: 10px;
    position: relative;
    top: -400px;
    left: 400px;
}
.img_line{
    position: relative;
    border-left: 1px dashed var(--root-color);
    padding: 20px;
    height: 200px;
    top: -270px;
    left: 190px;
}
.image_name_back{
    position: relative;
    top: -525px;
    left: 60px;
    max-width: 125px;
    width: 115px;
    /* border: 1px dashed var(--root-color); */
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.image_price_back{
    display: flex;
    flex-flow: column;
    position: relative;
    top: -525px;
    left: 90px;
    max-width: 230px;
}
.descr_text{
    font-size: 15px;
    font-weight: 550;
    color: var(--root-color);
    display: flex;
    justify-content: center;
}
.name_text{
    position: relative;
    font-size: 18px;
    font-weight: 550;
    color: var(--root-color);
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
}

.category_text{
    font-size: 15px;
    font-weight: 550;
    color: var(--root-color);
}

.text_co{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--root-color);
    width: 60px;
    font-size: 12px;
    border-radius: 10px;
    margin: 0;
}

.price_text{
    font-size: 25px;
    font-weight: 800;
    color: var(--root-color);
    margin: 0;
}

.price_back{
    margin-top: 30px;
}
.price_back1{
    margin-top: 54px;
}
.date_back{
    display: flex;
    flex-flow: row;
    margin-top: 40px;
    align-items: center;
}
.date_text{
    margin: 0 3px;
    align-items: center;
    color: var(--root-color);
    font-size: 12px;
};
#vo_btn {
    max-width: 800px;
  }
  
.vou_service_back {
    background-color: var(--root-color);
    border-radius: var(--radius);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    padding: var(--page-padding);
    max-width: 800px;
    margin-top: 10px;
}
.voucher_image_back {
    width: 350px;
    margin: 10px 20px;
  }
  
  .vou_main_back {
    display: flex;
    flex-flow: row;
  }
  
  .vou_add_back {
    background-color: var(--root-color);
    border-radius: var(--radius);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    padding: var(--page-padding);
    max-width: 550px;
    flex: 1;
  }
  
  .vou_main {
    margin: 10px 30px;
  }
  .select_back_dis {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid var(--text4-color);
    margin: 10px 0 0 0;
    padding: 3px 0;
  }
  
  .select_back_dis:focus-within {
    border-bottom: 1px solid var(--success-color);
  }
  
  .select_back_dis:focus-within .select_lbl {
    color: var(--success-color);
  }
  .dis_input_back{
    flex: 1;
    margin-top: 10px;
  }
  .dis_back {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid var(--text4-color);
    margin: 10px 0 0 15px;
    padding: 3px 0;
  }
  .dis_back:focus-within {
    border-bottom: 1px solid var(--success-color);
  }
  
  .dis_back:focus-within .select_lbl {
    color: var(--success-color);
  }
  .radio_back_dis{
    margin: 6px 5px 0 5px;
 }
 .gift_main_back {
  display: flex;
  flex-flow: row;
}

.gift_add_back {
  flex: 1;
  background-color: var(--root-color);
  border-radius: var(--radius);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  padding: var(--page-padding);
  max-width: 800px;
}
.count_select_lbl {
    font-size: 12px;
    color: var(--text2-color);
    font-weight: 500;
    margin: 0 0 9px 0;
};
  