.th_header_mn1 {
  display: flex;
  flex-flow: row;
}
.th_header_mn2 {
  display: flex;
  flex-flow: column;
  /* margin-top: 10px; */
}
#ih_large .mn_header2 {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 5px;
}

#ih_small .mn_header2 {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
}

#ih_large .ih_search_back1 {
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  right: var(--page-padding);
  display: flex;
  flex-flow: row;
  align-items: center;
  border-radius: var(--radius);
}

#ih_small .ih_search_back1 {
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  display: flex;
  flex-flow: row;
  align-items: center;
  left: 0;
  border-radius: var(--radius);
  bottom: 30px;
  max-width: 412;
}

#ih_large .th_header_mn {
  width: 395px;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}
#ih_small .th_header_mn {
  width: 350px;
  display: flex;
  flex-flow: row;
  /* justify-content: space-between; */
  align-items: center;
}
#ih_small .mn_head{
  display: flex;
  flex-flow: row;
}
.mn_date1 {
  width: 150px;
  max-width: calc(100vw - var(--page-padding) * 4);
}
.th_header3 .mn_date {
  width: 375px;
  max-width: calc(100vw - var(--page-padding) * 4);
  margin-right: 10px;
}
.mn_date .ant-picker-active-bar {
  display: none;
}

.mn_date.ant-picker {
  width: 173px;
  box-shadow: none;
  border: none;
  background-color: var(--back-color);
  border-radius: var(--radius);
  margin-right: 10px;
}

.mn_date .ant-picker-input>input {
  color: var(--text-color);
  font-size: 14px;
}

.mn_date.ant-picker .ant-picker-separator svg {
  fill: rgba(0,0,0,0) !important;
}

#invt_list_z {
  padding: 7px var(--page-padding) var(--page-padding) var(--page-padding);
  max-width: 1400px;
}
.ih_btn_row_z {
  display: flex;
  flex-flow: row;
  margin-right: 5px;
  margin-top: 15px;
}
#ih_large .ih_search_back2 {
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  right: var(--page-padding);
  display: flex;
  flex-flow: row;
  align-items: center;
  border-radius: var(--radius);
}

#ih_small .ih_search_back2 {
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  display: flex;
  flex-flow: row;
  align-items: center;
  left: 0;
  border-radius: var(--radius);
  bottom: 1px;
  max-width: 412;
}