@import './color.css';

:root {
  --empty-width: 560px;
  --empty-padding: 45px 20px;
  --empty-icon: 120px;
  --color-width: 60px;
  --cat-width: 40px;
  --system-width: 500px;
  --system-width1: 800px;
} 

.ia_back_z {
  background-color: var(--root-color);
  border-radius: var(--radius);
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  padding: var(--page-padding);
  max-width: var(--system-width);
}
.ia_back_z1 {
  background-color: var(--root-color);
  border-radius: var(--radius);
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  padding: var(--page-padding);
}
.gap_z {
  width: var(--page-padding);
  height: var(--page-padding);
}
.ac_back_sys {
  background-color: var(--root-color);
  border-radius: var(--radius);
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  padding: var(--page-padding);
  width: var(--system-width);
}
.ac_back_sys1 {
  background-color: var(--root-color);
  border-radius: var(--radius);
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  padding: var(--page-padding);
  width: var(--system-width1);
}
.ac_lbl_sys {
  margin: 0;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
}
.select_back_sys {
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid var(--text4-color);
  padding: 3px 0;
}
#solve_list_z {
  padding: 7px var(--page-padding) var(--page-padding) var(--page-padding);
  max-width: 1400px;
}
.info_check{
  color: var(--success-color);
  font-size: 15px;
}
#dis_list {
  padding: 7px var(--page-padding) var(--page-padding) var(--page-padding);
  max-width: 1000px;
}
#dis_list1 {
  padding: 7px var(--page-padding) var(--page-padding) var(--page-padding);
  max-width: 1200px;
}

.dd {
  display: flex;
  flex-flow: column;
}
.z_item_sub_title {
  /* background-color: var(--root-color); */
  color: var(--text2-color);
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
  /* width: 600px; */
}

.order_sub{
  display: flex;
  flex-flow: row;
  background-color: var(--root-color);
  max-width: 620px;
  border-radius: var(--radius);
  margin-top: 10px;
}
.order_info {
  color: var(--text2-color);
  font-size: 22px;
  margin-top: 20px;
  margin-left: 10px;
}
.order_sub1{
  display: flex;
  flex-flow: row;
  background-color: var(--root-color);
  max-width: var(--invt-width);
  border-radius: var(--radius);
  margin-top: 10px;
}
.add_back_z {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: var(--root-color);
  border-radius: var(--radius);
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  padding: var(--page-padding);
  max-width: 840px;
  margin: 0 2px 2px 2px;
}
.add_back_zz {
  background-color: var(--root-color); 
  max-width: 540px;
  /* padding: var(--page-padding); */
  /* margin: 0 2px 2px 2px; */
}

.select_lbl_z {
  color: var(--text2-color);
  font-size: 13px;
  font-weight: 450;
  margin: 0 0 3px 10px;
}
#im_large .add_image { 
  margin-left: 10px;
  max-width: 150px;
}

#im_small .add_image { 
  margin-left: 20px;
  max-width: 230px;
}

.ant-image-preview-operations{
    display: none;
}
#im_large .image_z{
  position: relative;
  width: 160px;
  height: 180px;  
  padding: 0 12px 5px 1px;
}
#im_small .image_z{
  position: relative;
  width: 175px;
  height: 180px;
  padding-right: 10px;
}
.image_z:hover{
  cursor: pointer;
}
.ant-image{
  width: 160px;
  height: 180px;
}

#im_large .upload_back{
  max-width: 170px;
  border: 1px dashed var(--text2-color);
  border-radius: var(--radius);
  background-color: #f0f2f5;
}

#im_small .upload_back{
  width: 170px;
  border: 1px dashed var(--text2-color);
  border-radius: var(--radius);
  background-color: #f0f2f5;
}
.ant-image-mask{
  display: none;
}
.ant-image-preview-img{
  width: 35%;
  height: 90%
}

#ih_large .ih_header4 {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}

#ih_small .ih_header4 {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  margin-top: 10px;
}
.upload_icon_z{
  width: 70px;
  height: 70px;
  color: var(--text4-color);
  margin: 40px 35px;
}

.rating_back{
  display: flex;
  flex-flow: row;
}
.rate_back{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.rating_back_1{
  display: flex;
  flex-flow: column;

  /* justify-content: space-between; */
}
.rating_average{
  font-size: 60px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: -20px;
}
.rating_text{
  display: flex;
  font-size: 16px;
  font-weight: 500;
  color: var(--text2-color);
  justify-content: flex-end;
}

.ant-rate-star-second{
  color: var(--text4-color) ;
}
.ant-rate-star:not(:last-child){
  margin-right: 2px;
}

.rating_star_row{
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding-top: 15px;

}
.rating_progress{
  display: flex;
  flex-flow: row;
  margin-bottom: -10px ;
}
.po_progress_z {
  height: 5px;
  border-radius: 10px;
}

.po_progress_back_z {
  background-color: var(--back-color);
  height: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  overflow: hidden;
}

.ant-progress-inner{
  margin-bottom: 10px;
  margin-left: 5px;
  height: 6px;
  color: var(--text-color);
}
.ant-progress-bg, .ant-progress-success-bg{
  background-color: var(--text3-color);
}
.ant-progress-status-success .ant-progress-bg {
  background-color: var(--text3-color);
  }
.table_detail_text{
   font-size: 13px;
   color: var(--text2-color);
   margin-top: -5px;
}
.table_text_back{
  border: none;
}
.table_back1 {
  width: 100%;
}

.rate_header{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.r_check_row {
  display: flex;  
  flex-flow: row;
  align-items: center;
  margin: 0 0 0 15px;
}

#btn_rating{
  max-width: 800px;
}
#btn_rating1{
  max-width: 100%;
}
.ih_select .style-module_simpleStarRating__nWUxf{
  margin-top: 5px;
}
.report_icon{
  font-size: 23px;
  color: var(--logo1-color);
  margin-right: 10px;
}
.dtl_title_back{
  display: flex;
  flex-flow: row;
  border-bottom: 2px solid var(--back-color);
  justify-content: center;
  margin-bottom: 10px;
}

#ih_large .mn_header2 {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 5px;
}
.info_header1 .info_header_s{
  display: flex;
  flex-flow: row;
}
.info_header1 .info_header_s1{
  display: flex;
  flex-flow: row;
}
.info_header1 {
  display: flex;
  flex-flow: row;
}
.info_header2 {
  display: flex;
  flex-flow: column;
  margin-top: 10px;
}
.info_header1 .info_header_s, .info_header2 .info_header_s {
  display: flex;
  flex-flow: row;
}
.info_header2 .info_header_s1 {
  display: flex;
  flex-flow: row;
  margin-top: 10px;
  margin-left: -15px;
}
.info_header3 .info_header_s {
  display: flex;
  flex-flow: row;
  margin-top: 10px;
  margin-left: -15px;
}
.info_header3 .info_header_s1 {
  display: flex;
  flex-flow: row;
  margin-top: 10px;
  margin-left: -15px;
}
.info_header3 .rh_date {
  width: 375px;
  max-width: calc(100vw - var(--page-padding) * 4);
}

.info_header1 .rh_date {
  width: 220px;
}
/* .rp_column_list_row{
  display: flex;
  flex-flow: row;
} */
.ih_select_back3 {
  margin-left: 15px;
  width: 155px;
}

.rp_list_filter_icon1 {
  display: flex;
  position: absolute;
  right: 50px;
  top: 20px;
  justify-content: flex-end;
}

.rp_list_filter_icon2 {
  display: flex;
  position: absolute;
  right: 20px;
  top: 21px;
  justify-content: flex-end;
}

.rp_list_drop_icon1 {
  color: var(--text2-color);
  font-size: 28px;
}
.info_hd1 {
  display: flex;
  flex-flow: row;
}
.info_hd1 .rp_list_filter_icon1{
  top: 21px;
  right: 20px;
}
.info_hd1 .rp_list_filter_icon2{
  top: 21px;
  right: 50px;
}
.info_hd2{
  display: flex;
  flex-flow: column;
  margin-bottom: 30px;
}
.info_hd2 .rp_list_filter_icon2{
  top: 60px;
  right: 20px;
}

.info_hd2 .rp_list_filter_icon1{
  top: 60px;
  right: 0px;
}