@import './color.css';

.tm_h_back1 {
    padding: 1px 0 15px 1px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
.tm_h_back2, .tm_h_back3 {
    padding: 1px 0 15px 1px;
    display: flex;
    flex-flow: column;
  }
  
  .rp_h_row1 {
    display: flex;
    flex-flow: row;
  }
  
  .tm_h_back1 .rp_h_row2 {
    display: flex;
    flex-flow: row;
  }
  
  .tm_h_back2 .rp_h_row2, .tm_h_back3 .rp_h_row2 {
    display: flex;
    flex-flow: row;
    margin-top: 10px;
  }
  
  .tm_h_back2 .rp_select_back, .tm_h_back2 .rp_select_back1 {
    width: 234px;
  }
  
  .tm_h_back3 .mr_cal, .tm_h_back3 .mr_btn {
    display: none;
  }
  .tm_menu {
    background-color: var(--root-color);
    margin-top: 0px;
    display: flex;
    flex-flow: column;
    min-width: 150px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,.2),0px 4px 5px 0px rgba(0,0,0,.14),0px 1px 10px 0px rgba(0,0,0,.12);
    padding: 5px 0;
  }
  
  .tm_menu_btn {
    border: none;
    box-shadow: none;
    background-color: var(--root-color);
    color: var(--text-color);
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    padding: 5px 20px;
  }
  
  .tm_menu_btn:hover {
    background-color: var(--menu-active-bgcolor);
    cursor: pointer;
  }
  
  .tm_menu_btn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  .tm_title_icon {
    color: var(--config-color);
    width: 26px;
    height: 26px;
    margin-right: 10px;
  }
  .tm_title {
    color: var(--text2-color);
    font-size: 16px;
    font-weight: 450;
    margin: 0;
  }
.tm_form_back{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.tm_button{
  text-align: center;
  border: 1px solid var(--text2-color);
  border-radius: var(--radius);
  background-color: var(--root-color);
  padding: 5px;
  margin: 5px;
}
.tm_button_back{
  display: flex;
  flex-flow: row;
}
.tm_times {
  display: flex;
  flex-flow: row;
}
.tm_check_row {
  display: flex;  
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0 0;
}
.tm_check {
  display: flex;  
  flex-flow: row;
  align-items: center;
}
.tm_icon{
  font-size: 16px;
  margin: 10px ;
  color: var(--config-color);
}
.tm_icon:hover {
  color: var(--success-color);
}

.tm_icon1{
  font-size: 16px;
  margin: 10px ;
  color: var(--danger-color);
}
.tm_icon1:hover {
  color: var(--danger-color);
}

.tm_time_back {
  display: flex;
  flex-flow: column;
  border: 1px solid var(--text4-color);
  border-radius: var(--radius);
  width: 70px;
  flex: 1;
}

.tm_time_back:focus-within {
  border: 1px solid var(--success-color);
}
.tm_time_select.ant-select .ant-select-selector {
  box-shadow: none;
  border: none;
  padding: 2px;
  color: var(--text-color);
  font-size: 14px;
}

.tm_time_select .ant-select-selector {
  box-shadow: none !important;
}

.tm_time_select .ant-select-arrow {
  color: var(--text4-color);
  right: 0px;
}

.tm_date_back {
  background-color: var(--root-color);
  height: 30px;
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  /* box-shadow: 0 2px 5px rgba(0,0,0,.15); */
  display: flex;
  align-items: center;
  width: 300px;
}
#tm_btn1{
  border-color: var(--border-color);
  border-style: solid;
  border-width: 0 1px 0 0;
}
#tm_btn2{
  border-color: var(--border-color);
  border-style: solid;
  border-width: 0 0 0 1px;
}
.tm_btn {
  border: none;
  box-shadow: none;
  background-color: transparent;
  width: 36px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm_btn:hover {
  cursor: pointer;
}
.tm_add_btn {
  box-shadow: none;
  border: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  min-height: 36px;
  padding: 0 var(--page-padding);
  background-color: var(--root-color);
  border-radius: var(--radius);
  font-size: 15px;
  font-weight: 550;
  margin: 5px;
  max-width: 220px;
  width: 220px;
}
.tm_btn_check {
  display: flex;
  flex-flow: row;
  position: absolute;
  left: calc(var(--title-padding) - 6px);
  padding: 6px;
  align-items: center;
}
#tm_check{
  margin: 0;
}
.tm_title_row {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}
.tm_table_back {
  width: 100%;
}

.tm_table_back th {
  border: none;
}

.tm_table_back{
  border-collapse: separate;
  border-spacing: 0;
}

.tm_table_back tbody > tr:not(:first-child) > td {
  border-top: 1px solid var(--line-color);
}

.tm_table_back th:not(:last-child), .tm_table_back tr > td:not(:last-child) {
  padding-right: 10px;
}

.tm_table_back th, .tm_table_back tr > td {
  padding-right: 10px;
}
.tm_table_row {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: var(--line-color);
}

.tm_select_back {
  border: 1px solid var(--line-color);
  border-radius: var(--radius);
  margin: 0;
}

.tm_select_back:focus-within {
  border-color: var(--success-color);
}

.tm_select.ant-select .ant-select-selector {
  box-shadow: none;
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  color: var(--text-color);
  font-size: 14px;
  background-color: transparent;
  /* padding: 5px 10px ;   */
}

.tm_select.ant-select .ant-select-selector {
  box-shadow: none !important;
}

.tm_select .ant-select-selector {
  box-shadow: none !important;
}

.tm_select .ant-select-selection-search {
  left: 0 !important;
}

.tm_select .ant-select-arrow {
  color: var(--text4-color);
  right: 5px;
}
@media only screen and (max-height: 700px) { /* mobile */
  .tm_table_cell_text {
    color: var(--text-color);
    font-size: 15px;
    padding: 5px 0;
  }
}

@media only screen and (min-height: 700px) { /* desktop */
  .tm_table_cell_text {
    color: var(--text-color);
    font-size: 15px;
    padding: 5px 0;
  }
}
.form_back{
  margin: 10px 0;
}

.tm_add_back{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 10px;
}

.tm_select_back1 {
  width: 240px;
}

.tm_select_lbl {
  font-size: 12px;
  color: var(--text2-color);
  font-weight: 500;
  margin: 0 0 12px 11px;
}

.tm_select_add {
  width: 100%;
}

.tm_select_add .ant-select-selector {
  box-shadow: none !important;
}

.tm_select_add .ant-select-arrow {
  color: var(--root-color);
}

.tm_select_add.ant-select .ant-select-selector {
  box-shadow: none;
  border: none;
  color: var(--root-color);
  font-size: 15px;
  font-weight: 550;
  background-color: var(--config-b-color);
  border-radius: var(--radius);
  /* max-width: calc((100vw - var(--page-padding) * 4 - 20px - 32px) / 2); */
}

.tm_select_add .ant-select-selection-placeholder{
  color: var(--root-color);
}
.tm_select_add.ant-select-single.ant-select-open .ant-select-selection-item{
  color: var(--line-color);
}
 .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
  border-color: var(--config-color);
  box-shadow: none;
}
.ant-select-single .ant-select-selector .ant-select-selection-search {
  padding: 0px 10px;
}
.ant-select-auto-complete .ant-select-clear {
  right: 5px;
}

.tm_select_backs{
  display: flex;
  flex-flow: row;
}
.tm_select_icon{
  margin-top: 8px;
  margin-left: -20px;
  position: relative;
  color: var(--text2-color);
}

.invt_select.ant-select .ant-select-selector {
  box-shadow: none;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
  font-size: 14px;
  background-color: transparent;
  margin-left: 10px ;  
}

.invt_select:focus-within{
  border-color: var(--config-b-color);
  /* border-bottom: 1px solid var(--config-b-color); */
}

.invt_select:hover{
  /* border-bottom: 1px solid var(--config-b-color); */
  border-color: var(--config-b-color);
}
.invt_time_back{
  display: flex;
  flex-flow: row;
  margin-left: 30px;
}

.select_lbl_i {
  color: var(--text2-color);
  font-size: 13px;
  font-weight: 450;
  margin: 10px 0 3px 0;
}