.imageLeft {
  background-image: url("../../../../assets/voucher_image_frame.png");
  width: 33px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.imageRight {
  background-image: url("../../../../assets/voucher_image_frame.png");
  width: 33px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(180deg);
  background-size: contain;
  background-repeat: no-repeat;
}
.container {
  width: 500px;
  height: 250px;
  outline: solid 1px black;
}

.circle {
  width: 150px;
  left: 0px;
  top: 0px;
  border-right: 1px dashed #fffeff;
}
.vou_position {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.vou_title {
  position: relative;
  font-size: 16px;
  font-weight: 550;
  color: var(--root-color);
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  overflow-wrap: break-word;
  word-break: break-all;
}

.voucher_content {
  padding: 70px 20px;
  width: auto;
}

.voucher_content_title {
  width: 90%;
  font-size: 27px;
  display: flex;
  flex-direction: column;
}

.vou_title_amt {
  border-bottom: 1px solid var(--line-color);
  align-items: center;
  display: flex;
  font-weight: 800;
  color: var(--root-color);
  margin: 0;
}

.vou_content_footer {
  display: flex;
  flex-direction: row;
  padding: 28px 0px 0px 0px;
}

.voucher_icon {
  width: 0.3em;
  height: 0.3em;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: rotate(45deg);
}

.currency {
  padding: 10px 0px 0px 0px;
}

.currencyHead {
  padding: 12px 0px 0px 0px;
}

.voucher_date {
  margin: 0 3px;
  align-items: center;
  color: var(--root-color);
  font-size: 11px;
}

.text_vo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--root-color);
  width: 60px;
  font-size: 11px;
  border-radius: 10px;
  margin: 0;
}
