@import './color.css';

.bl_back {
  background-color: var(--root-color);
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  margin: 15px;
  padding: 10px;
  border-radius: 2px;
  max-width: calc(100% - 30px);
  width: 480px;
  max-height: calc(100vh - 30px);
  overflow: scroll;
  min-height: 40vh;
  display: flex;
  flex-flow: column;
}

.bl_empty {
  flex: 1;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  color: var(--line-color);
}

.bl_title {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.bl_row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.bl_icon_row {
  display: flex;
  flex-flow: row;
  margin-bottom: 5px;
  align-items: center;
  flex: 1;
}

.bl_icon {
  font-size: 20px;
  margin-right: 3px;
}

.bl_icon_value {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  flex: 1;
}

.bl_label {
  font-size: 14px;
  margin: 0;
  width: 100px;
}

.bl_value {
  font-size: 14px;
  margin: 0;
  flex: 1;
}

.bl_gap {
  padding: 5px 5px 0 0;
}

.bl_dash {
  border-top: 1px dashed var(--text-color);
}

.bl_header {
  border-top: 1px dashed var(--text-color);
  display: flex;
  flex-flow: row;
  align-items: center;
  border-bottom: 1px dashed var(--text-color);
  padding: 2px 0;
}

.bl_header1 {
  margin: 0;
  font-size: 14px;
  width: 45%;
}

.bl_header2 {
  margin: 0;
  font-size: 14px;
  width: 18%;
  text-align: center;
}

.bl_header3 {
  margin: 0;
  font-size: 14px;
  width: 12%;
  text-align: center;
}

.bl_header4 {
  margin: 0;
  font-size: 14px;
  width: 25%;
  text-align: right;
}

.bl_item:not(:last-child) {
  border-bottom: 1px solid var(--line-color);
}

.bl_item:last-child {
  border-bottom: 1px dashed var(--text-color);
  padding-bottom: 2px;
}

.bl_item_row {
  display: flex;
  flex-flow: row;
  margin: 5px 0 1px 0;
}

.bl_item_descr {
  margin: 0 0 5px 0;
  font-size: 13px;
  line-height: 14px;
  color: var(--text2-color);
}

.bl_total_row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.bl_total_text {
  font-size: 14px;
  margin: 0;
}

#bl_total_bold > p {
  font-weight: 600;
}

.bl_qr_back {
  display: flex;
  flex-flow: row;
  margin-top: 5px;
}

.bl_qr_col {
  flex: 1;
  margin-left: 10px;
}

.bl_qr_label {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  line-height: 16px;
}

.bl_qr_value {
  font-size: 14px;
  margin: 0 0 10px 0;
  flex: 1;
  word-break: break-word;
}

.bo_back {
  background-color: var(--root-color);
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  margin: 2px 15px;
  padding: 15px 30px;
  border-radius: 2px;
  max-width: calc(100% - 30px);
  width: 640px;
  min-width: 600px;
  /* max-height: calc(100vh - 30px); */
  overflow: scroll;
  min-height: 40vh;
  display: flex;
  flex-flow: column;
}

.bo_info {
  margin-bottom: 20px;
}

.bo_powered {
  font-weight: 500;
  margin: 0 0 20px 0;
  font-size: 13px;
  text-align: right;
}

.bo_no {
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 30px 0;
}

.bo_row {
  display: flex;
  flex-flow: row;
  margin-bottom: 25px;
}

.bo_col {
  flex: 1;
}

.bo_label {
  font-weight: 550;
  font-size: 14px;
  margin: 0 0 10px 0;
}

.bo_value {
  font-weight: normal;
  margin-left: 3px;
}

.bo_value2 {
  font-size: 14px;
  margin: 0 0 5px 0;
}

.bo_header {
  display: flex;
  flex-flow: row;
  border: 1px solid var(--text-color);
}

.bo_item {
  display: flex;
  flex-flow: row;
  border-bottom: 1px solid var(--text-color); 
  border-left: 1px solid var(--text-color); 
  border-right: 1px solid var(--text-color); 
}

.bo_header > p {
  font-size: 14px;
  margin: 0;
  padding: 2px 5px;
  font-weight: 550;
}

.bo_item > p {
  font-size: 14px;
  margin: 0;
  padding: 2px 5px;
}

.bo_header1 {
  width: 35%;
  border-right: 1px solid var(--text-color);
}

.bo_header2 {
  width: 18%;
  border-right: 1px solid var(--text-color);
}

.bo_header3 {
  width: 12%;
  border-right: 1px solid var(--text-color);
  text-align: right;
}

.bo_header4 {
  width: 15%;
  border-right: 1px solid var(--text-color);
  text-align: right;
}

.bo_header5 {
  width: 20%;
  text-align: right;
}

.bo_footer_back {
  margin-bottom: 40px;
}

.bo_footer {
  display: flex;
  flex-flow: row;
  justify-content: end;
  border-left: 1px solid transparent; 
  border-right: 1px solid var(--text-color);
}

.bo_footer0 {
  border-right: 1px solid var(--text-color);
}

.bo_footer1 {
  font-size: 14px;
  margin: 0;
  padding: 2px 5px;
  font-weight: 550;
  width: 15%;
  border-bottom: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.bo_footer2 {
  font-size: 14px;
  margin: 0;
  padding: 2px 5px;
  font-weight: 550;
  width: 20%;
  text-align: right;
  border-bottom: 1px solid var(--text-color);
}

.bo_sign {
  white-space: pre;
  font-size: 14px;
  margin: 0 0 10px 0;
  text-align: right;
}

.bo_pdf_btn {
  border: none;
  border-radius: 5px;
  background-color: var(--input1-color);
  padding: 5px 20px;
  color: var(--text-color);
  bottom: 15px;
  right: 15px;
  position: absolute;
}

.bo_pdf_btn:hover {
  cursor: pointer;
  color: var(--logo1-color);
}

.bo_cont {
  position: relative;
  max-height: calc(100vh - 30px);
  margin: 15px 0;
  overflow: scroll;
}