@import './color.css';

.bl_back {
  background-color: var(--root-color);
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  margin: 15px;
  padding: 10px;
  border-radius: 2px;
  max-width: calc(100% - 30px);
  width: 480px;
  max-height: calc(100vh - 30px);
  overflow: scroll;
  min-height: 60vh;
  display: flex;
  flex-flow: column;
}

.bl_empty {
  flex: 1;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  color: var(--line-color);
}

.bl_title {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.bl_row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.bl_icon_row {
  display: flex;
  flex-flow: row;
  margin-bottom: 5px;
  align-items: center;
  flex: 1;
}

.bl_icon {
  font-size: 20px;
  margin-right: 3px;
}

.bl_icon_value {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  flex: 1;
}

.bl_label {
  font-size: 14px;
  margin: 0;
  width: 100px;
}

.bl_value {
  font-size: 14px;
  margin: 0;
  flex: 1;
}

.bl_gap {
  padding: 5px 5px 0 0;
}

.bl_dash {
  border-top: 1px dashed var(--text-color);
}

.bl_header {
  border-top: 1px dashed var(--text-color);
  display: flex;
  flex-flow: row;
  align-items: center;
  border-bottom: 1px dashed var(--text-color);
  padding: 2px 0;
}

.bl_header1 {
  margin: 0;
  font-size: 13px;
  width: 45%;
}

.bl_header2 {
  margin: 0;
  font-size: 13px;
  width: 18%;
  text-align: center;
}

.bl_header3 {
  margin: 0;
  font-size: 13px;
  width: 12%;
  text-align: center;
}

.bl_header4 {
  margin: 0;
  font-size: 13px;
  width: 25%;
  text-align: right;
}

.bl_item:not(:last-child) {
  border-bottom: 1px solid var(--line-color);
}