:root {
  --root-color: #ffffff;
  --back-color: #f2f2f2;
	--text-color: #1a1a1a;
  --text2-color: #757575;
  --link-color: #017EBE;

  --danger-color: #e41051;
	--warning-color: #fcd12a;
	--success-color: #0cceb5;
}