:root {
  --root-color: #ffffff;
  --back-color: #f2f2f2;
	--text-color: #1a1a1a;
  --text2-color: #757575;
  --text3-color: #969696;
  --link-color: #017EBE;
  --btn-color: #F7A900;
  --btn-h-color: #de9800;
  --logo1-color: #a020f0;
  --logo1-color_dis: #a020f0cc;
  --logo2-color: #4f12aa;
  --main-color: #6f0ad2;
  --tag1-color: #f1defd;

  --danger-color: #e41051;
	--warning-color: #fcd12a;
	--success-color: #0cceb5;
}