@import './color.css';

:root {
  --config-card-width: 450px;
  --config-card-icon: 36px;
  --title-font: 22px;
  --sub-font: 14px;
  --s-menu-height: 50px;
  --t-btn-height: 36px;
  --btn-margin: 8px;
  --title-padding: 20px;
}

.s_container {
  padding: var(--page-padding);
  max-height: calc(100vh - var(--header-height));
  overflow: scroll;
  display: flex;
  flex-flow: row;
}

.c_card_back {
  background-color: var(--root-color);
  border-radius: var(--radius);
  width: var(--config-card-width);
  min-width: var(--config-card-width);
  max-width: var(--config-card-width);
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  max-height: calc(100vh - var(--header-height) - var(--page-padding) * 2);
  overflow: scroll;
}

.c_card_title_back {
  display: flex;
  flex-flow: row;
  border-bottom: 1px solid var(--line-color);
  padding: var(--page-padding);
  align-items: center;
}

.c_card_title_ic {
  width: var(--config-card-icon);
  height: var(--config-card-icon);
  border-radius: 50%;
  background-color: var(--text4-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.c_card_title_icon {
  color: var(--root-color);
  font-size: 22px;
}

.c_card_title_side {
  margin-left: var(--page-padding);
}

.c_card_title {
  color: var(--text-color);
  font-size: var(--title-font);
  line-height: calc(var(--title-font) + 5px);
  margin: 0;
}

.c_card_title_sub {
  color: var(--text2-color);
  font-size: var(--sub-font);
  line-height: calc(var(--sub-font) + 5px);
  margin: 0;
}

.system_menu {
  margin-left: calc(var(--page-padding) * 2 + var(--config-card-icon) - 10px);
}

.system_menu .ant-menu-item {
  padding: 0 0 0 10px !important;
  height: var(--s-menu-height) !important;
  line-height: var(--s-menu-height) !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  border-bottom: 1px solid var(--line-color);
}

.system_menu .ant-menu-item:last-child {
  border-bottom: none;
}

.system_menu .ant-menu-item-active {
  background-color: var(--back-color) !important;
}

.system_menu .ant-menu-item-selected {
  background-color: var(--back-color) !important;
}

.system_menu .ant-menu-item-selected .ant-menu-title-content {
  color: var(--text-color);
}

.system_menu .ant-menu-title-content {
  color: var(--text-color);
  font-size: 14px;
}

.c_gap {
  height: 20px;
  width: 20px;
}

.ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
  display: none;
}

.c_tab_cont {
  background-color: var(--root-color);
  border-radius: var(--radius);
  min-width: var(--config-card-width);
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  display: flex;
  flex-flow: column;
}

.c_tab_title {
  margin: var(--title-padding) var(--page-padding);
  font-size: var(--title-font);
  line-height: var(--title-font);
  color: var(--text-color);
}

.c_tab_back {
  padding: 0 var(--page-padding);
  max-height: calc(100vh - var(--header-height) - var(--page-padding) * 3 - var(--t-btn-height) - var(--btn-margin) * 2
    - var(--title-font) - var(--title-padding) * 2);
  overflow: scroll; 
}

.a_item {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: var(--page-padding);
}

.a_item:last-child {
  margin-bottom: 0;
}

.a_item_text {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.a_item_title {
  color: var(--text-color);
  font-size: 14px;
  margin: 0;
}

.a_item_sub_title {
  color: var(--text2-color);
  font-size: 14px;
  margin: 0;
}

.a_item_more {
  box-shadow: none;
  border: none;
  background-color: transparent;
  color: var(--config-color);
  font-size: 13px;
  font-weight: 500;
}

.a_item_more:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.a_item_check.ant-switch {
  background-color: var(--line-color) !important;
  height: 14px;
  min-width: 40px !important;
}

.a_item_check.ant-switch-checked {
  background-color: var(--tag1-color) !important;
}

.a_item_check.ant-switch .ant-switch-handle {
  top: -4px;
  width: 22px;
  height: 22px;
  left: null;
}

.a_item_check.ant-switch .ant-switch-handle:before {
  background-color: var(--root-color);
  border-radius: 50%;
}

.a_item_check.ant-switch-checked .ant-switch-handle:before {
  background-color: var(--header-color);
}

.a_btn_row {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  border-top: 1px solid var(--line-color);
  padding: var(--btn-margin) 7px;
  margin-top: var(--page-padding);
}

.a_btn {
  border: none;
  box-shadow: none;
  background-color: var(--root-color);
  height: var(--t-btn-height);
  border-radius: var(--radius);
  font-size: 16px;
  font-weight: 450;
  color: var(--text-color);
  padding: 0 8px;
  margin-left: 5px;
  min-width: 84px;
}

.a_btn:hover {
  cursor: pointer;
  background-color: var(--back-color);
}

#a_btn_save {
  color: var(--config-color);
}

#a_btn_save:hover {
  background-color: var(--config-t-color);
}

#t_title {
  margin: var(--title-padding) 0;
}

.t_item_icon {
  color: var(--text3-color);
  width: 24px;
  height: 24px;
  margin-right: var(--page-padding);
}

.t_free {
  flex: 0.5;
  margin-left: var(--page-padding);
}

.t_btn_back {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
}

.t_item_subscribe {
  border: none;
  box-shadow: none;
  background-color: var(--root-color);
  color: var(--config-color);
  height: var(--t-btn-height);
  border-radius: var(--radius);
  font-size: 14px;
  font-weight: 550;
  padding: 0 8px;
}

.t_item_subscribe:hover {
  cursor: pointer;
  background-color: var(--config-t-color);
}

.t_line {
  background-color: var(--text3-color);
  height: 1px;
  margin: 20px 0;
}