@import './color.css';

:root {
  --empty-width: 560px;
  --empty-padding: 45px 20px;
  --empty-icon: 120px;
  --color-width: 60px;
  --cat-width: 40px;
  --invt-width: 720px;
  --t-btn-height: 36px;
}

.empty_back {
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  width: var(--empty-width);
  max-width: var(--safe-width);
  padding: var(--empty-padding);
  border-radius: var(--radius);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.empty_back1 {
  background-color: var(--root-color);
  /* width: var(--empty-width); */
  /* max-width: var(--safe-width); */
  padding: 30px 0;
  border-radius: var(--radius);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.empty_icon_back {
  width: var(--empty-icon);
  height: var(--empty-icon);
  border-radius: 50%;
  background-color: var(--back-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.empty_icon {
  color: var(--text4-color);
  font-size: 64px;
}

.empty_title {
  margin: 0 0 2px 0;
  font-size: 24px;
  font-weight: 450;
  color: var(--text2-color);
  text-align: center;
}

.empty_descr {
  margin: 0 0 20px 0;
  font-size: 16px;
  color: var(--text2-color);
  text-align: center;
}

.empty_btn {
  border: none;
  box-shadow: none;
  background-color: var(--config-b-color);
  min-height: var(--btn-height);
  min-width: var(--btn-width);
  padding: 0 30px;
  color: var(--root-color);
  border-radius: var(--radius);
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty_btn:hover {
  cursor: pointer;
  background-color: var(--config-color);
}

.em_icon {
  font-size: 14px;
  margin-right: 10px;
  color: var(--root-color);
}

.color_back {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-top: 10px;
}

.color_btn {
  height: var(--color-width);
  width: var(--color-width);
  border-radius: var(--radius);
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color_btn:hover {
  cursor: pointer;
}

.color_icon {
  color: var(--root-color);
  font-size: 22px;
}

.card_container {
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  min-width: var(--empty-width);
  padding: var(--page-padding);
  border-radius: var(--radius);
  display: flex;
  flex-flow: column;
}

.card_container_small {
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  width: var(--empty-width);
  padding: var(--page-padding);
  border-radius: var(--radius);
  display: flex;
  flex-flow: column;
  max-width: var(--safe-width);
}

.cat_item {
  display: flex;
  flex-flow: row;
  align-items: center;
  border-bottom: 1px solid var(--line-color);
}

.cat_item:last-child {
  border: none;
}

.cat_item:hover {
  cursor: pointer;
  background-color: var(--back1-color);
}

.cat_btn {
  display: flex;
  flex-flow: row;
  flex: 1;
  padding: 15px 0;
}

.cat_color {
  height: var(--cat-width);
  width: var(--cat-width);
  border-radius: 50%;
  background-color: var(--back-color);
  margin-left: 20px;
}

.cat_side {
  margin: 0 20px;
}

.cat_title {
  color: var(--text-color);
  font-size: 14px;
  margin: 0;
}

.cat_text {
  color: var(--text2-color);
  font-size: 14px;
  margin: 0;
}

.list_back {
  overflow-y: scroll;
  max-height: calc(100vh - var(--header-height) - var(--page-padding) * 4 - 36px - 20px - 41px - var(--pg-height) - 10px);
}

.ac_back {
  background-color: var(--root-color);
  border-radius: var(--radius);
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  padding: var(--page-padding);
  width: var(--invt-width);
}

.ac_row {
  display: flex;
  flex-flow: row;
}

.gap {
  width: var(--page-padding);
  height: var(--page-padding);
}

.u_image {
  width: 227px;
  height: 227px;
  margin-left: 10px;
}

.u_image .ant-upload.ant-upload-select-picture-card {
  width: 227px;
  height: 227px;
  overflow: hidden;
  border-color: var(--line-color);
  background-color: var(--back-color);
  align-self: center;
}

.u_image .ant-upload.ant-upload-select-picture-card:hover {
  border-color: var(--config-color);
}

.upload_btn {
  color: var(--text2-color);
  font-size: 20px;
  margin-bottom: 5px;
}

.upload_text {
  color: var(--text2-color);
  font-size: 14px;
  font-weight: 500;
}

.upload_image {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.ac_title {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.ac_lbl_back {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.ac_lbl {
  margin: 0;
  color: var(--text-color);
  font-size: 14px;
}

.i_container {
  /* margin-left: var(--side-width); */
  padding: 0 var(--page-padding);
  margin-top: var(--page-padding);
  display: flex;
  flex-flow: column;
  overflow: scroll;
  max-height: calc(100vh - var(--header-height) - var(--page-padding));
}

.i_scroll {
  max-height: calc(100vh - var(--header-height) - var(--page-padding) * 2 - 46px);
  display: flex;
  flex-flow: column;
  overflow: scroll;
}

.invt_btn_row {
  border: none;
  padding: 0;
  margin: 10px 0 var(--page-padding) 0;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  max-width: calc(var(--invt-width));
}

.invt_btn {
  border: none;
  box-shadow: none;
  background-color: var(--root-color);
  height: var(--t-btn-height);
  border-radius: var(--radius);
  font-size: 15px;
  font-weight: 450;
  color: var(--text-color);
  padding: 0 15px;
  margin-left: 10px;
  min-width: 84px;
}

.invt_btn:hover {
  cursor: pointer;
  color: var(--config-color);
}

#invt_btn_save {
  background-color: var(--config-b-color);
  color: var(--root-color);
  font-weight: 550;
}

#invt_btn_save:hover {
  cursor: pointer;
  background-color: var(--config-color);
}

#invt_list {
  padding: 7px var(--page-padding) var(--page-padding) var(--page-padding);
}

.kit_search {
  margin: 5px 0 10px 0;
}

.input_border:focus-within {
  border-bottom: 1px solid var(--success-color);
}

.input_border {
  border-bottom: 1px solid var(--line-color);
}

.kit_select {
  width: 100%;
}

.kit_select.ant-select .ant-select-selector {
  border: none;
  box-shadow: none;
  color: var(--text-color);
  font-size: 14px;
  padding: 0;
  height: 40px;
  align-items: center;
  width: 100%;
}

.kit_select .ant-select-selector {
  box-shadow: none !important;
}

.kit_select .ant-select-arrow {
  display: none;
}

.kit_select .ant-select-selection-search {
  left: 2px !important;
}

.ac_paging {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.ac_page_total {
  color: var(--text-color);
  margin: 0;
  font-size: 14px;
  font-weight: 550;
}

.cs_name {
  color: var(--text-color);
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}

.cs_sku {
  color: var(--text2-color);
  margin: 0;
  font-size: 13px;
  line-height: 16px;
}

.ac_delete_back {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.ac_delete {
  color: var(--text2-color);
  font-size: 18px;
  text-align: center;
}

.ac_delete:hover {
  color: var(--danger-color);
}

.ac_descr {
  color: var(--text-color);
  font-size: 14px;
  margin: 20px 0;
}

.ac_empty_back {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 10px 0;
}

.ac_empty_icon {
  color: var(--line-color);
  height: 120px;
  width: 120px;
  margin: 20px 0 15px 0;
}

#mo_ac_back {
  width: 600px;
}

#mo_ac_btns {
  max-width: 600px;
}

.ih_input_icon {
  color: var(--text2-color);
  font-size: 20px;
  margin: 0 10px;
}

.ih_input {
  border: none;
  box-shadow: none;
  flex: 1;
  color: var(--text-color);
  font-size: 14px;
}

.ih_input:focus {
  outline: none;
}

.ih_input_close {
  color: var(--text3-color);
  font-size: 16px;
  margin: 0 10px;
}

.ih_input_close:hover {
  cursor: pointer;
  color: var(--config-color);
}

#emp_ac_back {
  width: 480px;
}

#emp_ac_btns {
  max-width: 480px;
}

.i_check_row {
  display: flex;  
  flex-flow: row;
  align-items: center;
  margin: 20px 0 0 0;
}

.i_check_lbl {
  font-size: 14px;
  font-weight: 450;
  color: var(--text-color);
  margin: 0 0 0 10px;
}

.m_input_show {
  position: absolute;
  right: 0;
  top: 30px;
  font-size: 20px;
  color: var(--text2-color);
}

.m_input_show:hover {
  cursor: pointer;
  color: var(--logo1-color);
}

#role_list {
  width: 780px;
  max-width: calc(100vw - var(--page-padding) * 2);
  /* max-width: calc(100vw - var(--side-width) - var(--page-padding) * 2); */
}

#role_ac_back {
  width: 600px;
  max-width: calc(100vw - var(--page-padding) * 2);
  /* max-width: calc(100vw - var(--side-width) - var(--page-padding) * 2); */
}

#role_ac_btns {
  max-width: 600px;
  /* max-width: calc(100vw - var(--side-width) - var(--page-padding) * 2); */
}

.role_add_back {
  margin-top: 25px;
  margin-bottom: 5px;
}

.role_header {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.role_header_icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--text4-color);
  padding: 7px;
  color: var(--root-color);
}

.role_header_side {
  padding: 0 15px;
  flex: 1;
}

.role_header_title {
  color: var(--text-color);
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.role_header_descr {
  color: var(--text2-color);
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.role_item {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 9px 0;
}

.role_item_check {
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text4-color);
}

.role_item_check:hover {
  cursor: pointer;
  color: var(--text3-color);
}

.role_item_check:disabled {
  cursor: not-allowed;
}

.role_item_text {
  color: var(--text-color);
  margin: 0 0 0 15px;
  font-size: 15px;
}

.ant-switch-disabled, .ant-switch-loading {
  opacity: 0.8;
}

.multi_btn {
  border: none;
  box-shadow: none;
  height: 40px;
  border-bottom: solid 1px var(--input1-color);
  color: var(--text-color);
  background-color: var(--root-color);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 450;
}

.multi_btn:hover {
  cursor: pointer;
  background-color: var(--line-color);
}

.rh_date .ant-picker-active-bar {
  display: none;
}

.rh_date.ant-picker-range {
  margin-left: 15px;
  box-shadow: none;
  border: none;
  background-color: var(--back-color);
  border-radius: var(--radius);
}

.rh_date .ant-picker-input>input {
  color: var(--text-color);
  font-size: 14px;
}

.rh_date.ant-picker-range .ant-picker-separator svg {
  fill: rgba(0,0,0,0) !important;
}

.p_select_lbl {
  font-size: 12px;
  color: var(--text2-color);
  font-weight: 500;
  margin: 0 0 1px 26px;
}

.i_list_cont {
  background-color: var(--root-color);
  border-radius: var(--radius);
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  padding: var(--page-padding);
}

#ih_large {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

#ih_small {
  display: flex;
  flex-flow: column;
  padding-top: calc(var(--page-padding) - 7px);
  position: relative;
}

.ih_header1 {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.ih_btn_row {
  display: flex;
  flex-flow: row;
  margin-left: 5px;
}

#ih_large .ih_btn {
  box-shadow: none;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
  padding: 3px 10px;
}

#ih_small .ih_btn {
  box-shadow: none;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 13px;
  font-weight: 500;
  margin-left: 5px;
  padding: 3px 5px;
}

#ih_large .ih_btn:hover, #ih_small .ih_btn:hover {
  background-color: var(--back-color);
  cursor: pointer;
  border-radius: var(--radius);
}

#ih_large .ih_btn:disabled, #ih_small .ih_btn:disabled {
  cursor: not-allowed;
  color: var(--text4-color);
  background-color: transparent;
}

#ih_large .ih_header2 {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}

#ih_small .ih_header2 {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  margin-top: 10px;
}

.ih_select_back {
  margin-right: 15px;
}

.ih_select_lbl {
  font-size: 12px;
  color: var(--text2-color);
  font-weight: 500;
  margin: 0 0 1px 11px;
}

.ih_select .ant-select-selector {
  box-shadow: none !important;
}

.ih_select .ant-select-arrow {
  color: var(--text4-color);
  font-size: 15px;
}

.ih_select.ant-select .ant-select-selector {
  box-shadow: none;
  border: none;
  color: var(--text-color);
  font-size: 14px;
  background-color: var(--back-color);
  border-radius: var(--radius);
  max-width: calc((100vw - var(--page-padding) * 4 - 20px - 32px) / 2);
  width: 180px;
}

.ih_search {
  height: 32px;
  color: var(--text2-color);
  font-size: 22px;
}

.ih_search:hover {
  cursor: pointer;
  color: var(--config-color);
}

#ih_large .ih_search_back {
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  right: var(--page-padding);
  display: flex;
  flex-flow: row;
  align-items: center;
  border-radius: var(--radius);
}

#ih_small .ih_search_back {
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  display: flex;
  flex-flow: row;
  align-items: center;
  left: 0;
  border-radius: var(--radius);
  bottom: 5px;
  max-width: 412;
}

.ia_back {
  background-color: var(--root-color);
  border-radius: var(--radius);
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  padding: var(--page-padding);
  max-width: var(--invt-width);
}

#im_large .ia_image_row {
  display: flex;
  flex-flow: row;
}

#im_small .ia_image_row {
  display: flex;
  flex-flow: column-reverse;
}

#im_large .im_image {
  width: 227px;
  height: 227px;
  margin-left: 10px;
}

#im_small .im_image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

#im_large .im_image .ant-upload.ant-upload-select-picture-card {
  width: 227px;
  height: 227px;
  overflow: hidden;
  border-color: var(--line-color);
  background-color: var(--back-color);
  align-self: center;
}

#im_small .im_image .ant-upload.ant-upload-select-picture-card {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-color: var(--line-color);
  background-color: var(--back-color);
  align-self: center;
}

#im_large .im_image .ant-upload.ant-upload-select-picture-card:hover, #im_small .im_image .ant-upload.ant-upload-select-picture-card:hover {
  border-color: var(--config-color);
}

#im_input_row_large {
  display: flex;
  flex-flow: row;
  margin-top: 10px;
}

#im_input_row_small {
  display: flex;
  flex-flow: column;
  margin-top: 10px;
}

#im_input_row_large .im_gap {
  width: var(--page-padding);
  height: var(--page-padding);
}

#im_input_row_small .im_gap {
  width: 10px;
  height: 10px;
}

.ii_page_row_large {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.ii_page_row_small .ac_page_total {
  color: var(--text-color);
  margin: 10px 0 0 0;
  font-size: 14px;
  font-weight: 550;
  text-align: end;
}