@import './color.css';

:root {
  --logo-height: 40px;
  --radius: 3px;
  --padding: 25px;
  --title-font: 16px;
  --back-width: 400px;
  --border-color: #949494;
  --input-font: 14px;
  --label-font: 14px;
  --input-height: 36px;
  --btn-height: 36px;
  --btn-width: 120px;
  --link-font: 13px;
}

input::-webkit-credentials-auto-fill-button {
  background-color: var(--root-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--root-color);
  -moz-text-fill-color: var(--root-color);
}

.l_container {
  background-color: var(--back-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.l_back {
  background-color: var(--root-color);
  display: flex;
  flex-flow: column;
  padding: var(--padding);
  border-radius: var(--radius);
  max-width: var(--back-width);
  width: var(--back-width);
}

.l_logo {
  height: var(--logo-height);
  width: calc(var(--logo-height) * 4.1);
  object-fit: cover;
  margin-bottom: 10px;
}

.l_text {
  font-size: var(--title-font);
  color: var(--text2-color);
  margin: 0 0 5px 0;
}

.f_input_container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 35px 0 20px 0;
}

.f_input_back {
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: var(--border-color);
  color: var(--text-color);
  font-size: var(--input-font);
  height: var(--input-height);
}

.f_input_back:focus {
  outline: none;
  border-color: var(--success-color);
}

.f_input_container label {
  color: var(--text2-color);
  font-size: var(--label-font);
  position: absolute;
  pointer-events: none;
  transform: translate(0, 0) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  line-height: calc(var(--input-height) - 5px);
  padding-left: 2px;
}

.f_input_container:focus-within label {
  transform: translate(0, -20px) scale(0.85);
  color: var(--success-color);
  font-weight: 550;
}

.f_input_container .f_input_label {
  transform: translate(0, -20px) scale(0.85);
  font-weight: 550;
}

.f_input_error {
  color: var(--danger-color);
  font-size: 12px;
  margin: 3px 0 0 2px;
}

.f_input_show {
  position: absolute;
  right: 0;
  top: 7px;
  font-size: 20px;
  color: var(--text2-color);
}

.f_input_show:hover {
  cursor: pointer;
  color: var(--btn-color);
}

.l_btn_row {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.l_check .ant-checkbox .ant-checkbox-inner {
  background-color: var(--root-color);
  border-color: var(--text2-color);
  height: 16px;
  width: 16px;
  border-width: 1px;
}

.l_check .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--btn-color);
  border-color: var(--btn-color);
}

.l_check > span {
  color: var(--text2-color);
  font-size: 13px;
  font-weight: 450;
}

.l_btn {
  border: none;
  box-shadow: none;
  background-color: var(--btn-color);
  min-height: var(--btn-height);
  min-width: var(--btn-width);
  padding: 0 20px;
  color: var(--root-color);
  border-radius: var(--radius);
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.l_btn:hover {
  cursor: pointer;
  background-color: var(--btn-h-color);
}

.l_loader {
  display: flex;
  align-items: center;
}

.l_link {
  color: var(--link-color);
  font-size: var(--link-font);
  margin-top: 10px;
}

.l_link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}