@import './color.css';

:root {
  --header-color: #b44af7;
  --header-padding: 5px 10px;
  --icon-size: 28px;
  --title-size: 18px;
  --side-color: #ffffff;
  --menu-height: 56px;
  --menu-active-bgcolor: #f8eefe;
}

.h_container {
  min-height: var(--header-height);
  /* background-color: var(--header-color); */
  background: rgb(62,50,120);
  background: linear-gradient(270deg, rgba(62,50,120,1) 0%, rgba(158,49,235,1) 100%);
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: var(--header-padding);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.4);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,.4);
  box-shadow: 0 1px 5px rgba(0,0,0,.4);
}

.h_icon_btn {
  height: 36px;
  width: 36px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h_icon {
  color: var(--root-color);
  font-size: var(--icon-size);
}

.h_icon_btn:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.15);
  border-radius: 5px;
}

.h_title {
  margin: 0 10px;
  color: var(--root-color);
  font-size: var(--title-size);
  font-weight: 650;
  flex: 1;
}

.h_logo {
  height: 32px;
}

.side_menu .ant-menu-item {
  padding: 0 !important;
  height: var(--menu-height) !important;
  line-height: var(--menu-height) !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  border-style: solid;
  border-width: 0 4px 0 4px;
  border-left-color: transparent;
  border-right-color: transparent;
}

.side_menu .ant-menu-item-active {
  background-color: var(--menu-active-bgcolor) !important;
}

.side_menu .ant-menu-item-selected {
  background-color: var(--menu-active-bgcolor) !important;
  border-left-color: var(--logo1-color);
}

.side_menu .ant-menu-item-selected .ant-menu-title-content {
  color: var(--text-color);
}

.side_menu .ant-menu-item-selected .ant-menu-item-icon {
  color: var(--logo1-color);
}

.side_menu .ant-menu-item-icon, .p_icon {
  width: calc(var(--side-width) - 8px) !important;
  height: var(--menu-height) !important;
  padding: 17px;
  color: var(--text2-color);
}

.side_menu .ant-menu-title-content {
  position: absolute;
  font-weight: 450;
  font-size: 14px;
  color: var(--text-color);
  margin: 0 !important;
  padding: 0 !important;
  line-height: var(--menu-height) !important;
}

.ant-tooltip-arrow-content {
  display: none;
}

.ant-tooltip-inner {
  margin-left: -10px;
  color: var(--text-color);
  background-color: var(--menu-active-bgcolor);
  font-weight: 400;
}

.p_btn {
  border: none;
  box-shadow: none;
  display: flex;
  flex-flow: row;
  width: 100%;
  background-color: var(--root-color);
  align-items: center;
}

.p_btn:hover {
  background-color: var(--menu-active-bgcolor);
}

.p_side {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.p_title {
  font-weight: 450;
  font-size: 14px;
  color: var(--text-color);
  margin: 0;
}

.p_user {
  margin: 0;
  color: var(--text2-color);
  font-size: 14px;
}

.p_menu {
  background-color: var(--root-color);
  margin-top: -5px;
  display: flex;
  flex-flow: column;
  min-width: 180px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,.2),0px 4px 5px 0px rgba(0,0,0,.14),0px 1px 10px 0px rgba(0,0,0,.12);
  padding: 5px 0;
}

.p_menu_btn {
  border: none;
  box-shadow: none;
  background-color: var(--root-color);
  color: var(--text-color);
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  padding: 10px 20px;
}

.p_menu_btn:hover {
  background-color: var(--menu-active-bgcolor);
  cursor: pointer;
}