@import './color.css';

:root {
  --header-color: #b44af7;
  --header-padding: 5px 10px;
  --icon-size: 24px;
  --title-size: 18px;
  --title-size-m: 16px;
  --side-color: #ffffff;
  --menu-height: 56px;
  --menu-active-bgcolor: #f8eefe;
}

.h_container {
  min-height: var(--header-height);
  background: rgb(62,50,120);
  background: linear-gradient(270deg, rgba(62,50,120,1) 0%, rgba(158,49,235,1) 100%);
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: var(--header-padding);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.4);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,.4);
  box-shadow: 0 1px 5px rgba(0,0,0,.4);
  z-index: 900;
}

.h_icon {
  color: var(--root-color);
  font-size: var(--icon-size);
}

.h_icon_btn:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.15);
  border-radius: 5px;
}

.h_logo {
  height: 32px;
}

.side_menu .ant-menu-item {
  padding: 0 !important;
  height: var(--menu-height) !important;
  line-height: var(--menu-height) !important;
  border-style: solid;
  border-width: 0 4px 0 4px;
  border-left-color: transparent;
  border-right-color: transparent;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.side_menu.ant-menu-vertical .ant-menu-submenu {
  padding: 0 !important;
}

.side_menu.ant-menu.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title {
  padding: 0 !important;
  height: var(--menu-height) !important;
  line-height: var(--menu-height) !important;
  border-style: solid;
  border-width: 0 4px 0 4px;
  border-left-color: transparent;
  border-right-color: transparent;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  padding: 0 !important;
  margin: 0 !important;
  height: var(--menu-height) !important;
  line-height: var(--menu-height) !important;
  border-style: solid;
  border-width: 0 4px 0 4px;
  border-left-color: transparent;
  border-right-color: transparent;
}

.side_menu .ant-menu-item-icon, .p_icon {
  width: calc(var(--side-width) - 8px) !important;
  height: var(--menu-height) !important;
  padding: 17px;
  color: var(--text2-color);
}

.side_menu .ant-menu-submenu-arrow {
  color: var(--text2-color);
}

.side_menu .ant-menu-submenu-active {
  background-color: var(--menu-active-bgcolor) !important;
}

.side_menu .ant-menu-submenu-active .ant-menu-submenu-arrow, .side_menu .ant-menu-submenu-open .ant-menu-submenu-arrow {
  color: var(--text2-color) !important;
}

.side_menu .ant-menu-submenu-selected {
  background-color: var(--menu-active-bgcolor) !important;
}

.side_menu .ant-menu-submenu-selected .ant-menu-submenu-title {
  border-left-color: var(--logo1-color) !important;
}

.side_menu .ant-menu-submenu-selected .ant-menu-item-icon {
  color: var(--logo1-color);
}

.side_menu .ant-menu-item-active {
  background-color: var(--menu-active-bgcolor) !important;
}

.side_menu .ant-menu-item-selected {
  background-color: var(--menu-active-bgcolor) !important;
  border-left-color: var(--logo1-color);
}

.side_menu .ant-menu-title-content {
  font-weight: 450;
  font-size: 14px;
  color: var(--text-color);
  margin: 0 !important;
  padding: 0 !important;
  line-height: var(--menu-height) !important;
}

.side_menu .ant-menu-item-active .ant-menu-title-content {
  color: var(--text-color);
}

.side_menu .ant-menu-item-selected .ant-menu-title-content {
  color: var(--text-color);
}

.side_menu .ant-menu-item-selected .ant-menu-item-icon {
  color: var(--logo1-color);
}

.side_menu .ant-menu-sub.ant-menu-inline>.ant-menu-item {
  padding-left: 64px !important;
  height: 48px !important;
  line-height: 48px !important;
}

.ant-menu-submenu-popup .ant-menu .ant-menu-item-active {
  background-color: var(--menu-active-bgcolor) !important;
  color: var(--text-color) !important;
}

.ant-menu-submenu-popup .ant-menu .ant-menu-item-selected {
  background-color: transparent!important;
  color: var(--logo1-color) !important;
}

.side_menu .ant-menu-sub.ant-menu-inline>.ant-menu-item>.ant-menu-title-content {
  font-weight: 400;
  font-size: 14px;
  height: 48px !important;
  line-height: 48px !important;
}

.side_menu .ant-menu-sub.ant-menu-inline>.ant-menu-item-selected {
  background-color: transparent !important;
  border-color: transparent !important;
}

.side_menu .ant-menu-sub.ant-menu-inline>.ant-menu-item-selected>.ant-menu-title-content {
  color: var(--logo1-color) !important;
}

.ant-menu-inline .ant-menu-item:after {
  border: none;
}

.ant-tooltip-arrow-content {
  display: none;
}

.ant-tooltip-inner {
  margin-left: -10px;
  color: var(--text-color);
  background-color: var(--menu-active-bgcolor);
  font-weight: 400;
}

.p_btn {
  border: none;
  box-shadow: none;
  display: flex;
  flex-flow: row;
  width: 100%;
  background-color: var(--root-color);
  align-items: center;
  padding: 0;
  margin: 0 3px;
}

.p_btn:hover {
  background-color: var(--menu-active-bgcolor);
}

.p_side {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.p_title {
  font-weight: 450;
  font-size: 14px;
  color: var(--text-color);
  margin: 0;
}

.p_user {
  margin: 0;
  color: var(--text2-color);
  font-size: 14px;
}

.p_menu {
  background-color: var(--root-color);
  margin-top: -5px;
  display: flex;
  flex-flow: column;
  min-width: 180px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,.2),0px 4px 5px 0px rgba(0,0,0,.14),0px 1px 10px 0px rgba(0,0,0,.12);
  padding: 5px 0;
}

.p_menu_btn {
  border: none;
  box-shadow: none;
  background-color: var(--root-color);
  color: var(--text-color);
  font-size: 14px;
  text-align: left;
  font-weight: 400;
  padding: 10px 20px;
}

.p_menu_btn:hover {
  background-color: var(--menu-active-bgcolor);
  cursor: pointer;
}

.p_menu_btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border: none;
}

@media only screen and (min-width: 740px) { /* desktop */
  .ant-layout-sider {
    max-height: calc(100vh - var(--header-height));
  }

  .menu_drawer.ant-drawer {
    display: none;
  }

  .h_title {
    margin: 0 10px;
    color: var(--root-color);
    font-size: var(--title-size);
    font-weight: 650;
    flex: 1;
  }

  .h_icon_btn {
    height: 36px;
    width: 36px;
    padding: 0;
    margin-left: 7px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 740px) { /* mobile */
  .ant-layout-sider {
    display: none;
  }
  
  .ant-drawer {
    top: var(--header-height);
  }

  .ant-drawer-body {
    padding: 0;
    overflow-x: hidden;
  }

  .h_title {
    margin: 0 10px;
    color: var(--root-color);
    font-size: var(--title-size-m);
    font-weight: 550;
    flex: 1;
    line-height: 18px;
  }

  .h_icon_btn {
    height: 36px;
    width: 36px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mi_top {
  overflow-y: scroll;
  max-height: calc(100vh - var(--header-height) - 50px - 20px);
}

.mi_btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-flow: row;
  width: calc(100% - 20px);
  height: 50px;
  align-items: center;
  border-radius: var(--radius);
  border: none;
  background: rgb(145,57,226);
  background: linear-gradient(90deg, rgba(145,57,226,1) 0%, rgba(128,56,204,1) 100%);
  padding: 0 13px;
}

.mi_btn:hover {
  cursor: pointer;
}

.mi_icon {
  color: var(--root-color);
  height: 24px;
  width: 24px;
}

.mi_text {
  margin: 0 0 0 17px;
  color: var(--root-color);
  font-weight: 550;
  font-size: 14px;
}

/* .ant-menu>.ant-menu-item-divider {
  margin-left: 59px;
  margin-right: 10px;
} */

.ant-menu-item-divider {
  border-color: var(--input1-color);
  border-width: 1px 0 0;
}

#m_rating {
  font-size: 17px;
  font-weight: 550;
}

.m_rate_back {
  margin-top: 15px;
}

#rate_input {
  height: 50px;
  resize: none;
}

.m_rate_close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: var(--text3-color);
}

.m_rate_close:hover {
  cursor: pointer;
  color: var(--config-color);
}

.rate_btn {
  background-color: var(--config-b-color);
  border: none;
  box-shadow: none;
  height: 40px;
  border-radius: var(--radius);
  width: calc(100% - 40px);
  margin: 20px 20px 0 20px;
  color: var(--root-color);
  font-size: 15px;
  font-weight: 650;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rate_btn:hover {
  cursor: pointer;
  background-color: var(--config-color);
}

.rate_btn:disabled {
  cursor: not-allowed;
  background-color: var(--config-b-color);
}