@import './color.css';

.po_back {
  background-color: var(--root-color);
  border-radius: var(--radius);
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  padding: var(--page-padding);
  max-width: 960px;
}

#po_back_invt {
  padding: var(--page-padding) 0;
}

.po_back_invt1 {
  padding: 0 var(--page-padding) var(--page-padding) var(--page-padding);
  border-bottom: 1px solid var(--line-color);
}

.po_back_invt2 {
  padding: var(--page-padding) var(--page-padding) 0 var(--page-padding);
}

.po_back_invt3 {
  padding: 0 var(--page-padding);
}

.po_add_btn {
  border: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: transparent;
  border-radius: var(--radius);
  padding: 5px 10px;
  color: var(--config-color);
  font-size: 15px;
  font-weight: 500;
  margin-left: -5px;
}

.po_add_btn:hover {
  background-color: var(--config-t-color);
  cursor: pointer;
}

.po_add_icon {
  font-size: 13px;
  margin-right: 5px;
}

#po_btns {
  max-width: 960px;
}

.po_vend_container {
  padding: 0 0 0 var(--page-padding);
  margin-top: var(--page-padding);
  display: flex;
  flex-flow: column;
  overflow: scroll;
  max-height: calc(100vh - var(--header-height) - var(--page-padding));
}

.po_vend_back {
  max-width: 1260px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.po_vend_btn {
  border: none;
  background-color: var(--root-color);
  border-radius: var(--radius);
  margin: 0 15px 15px 0;
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  padding: 10px 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.po_vend_btn:hover {
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0,0,0,.35);
}

.po_vend_place {
  height: 80px;
  filter: invert(82%) sepia(3%) saturate(9%) hue-rotate(315deg) brightness(111%) contrast(90%);
}

.po_vend_logo {
  margin: auto 0;
  max-height: 80px;
}

@media only screen and (max-height: 700px) { /* mobile */
  .po_vend_title {
    font-size: 13px;
    margin: 10px 0 0 0;
    font-weight: 500;
  }
  
  .pr_all_btn {
    border: none;
    background-color: var(--config-b-color);
    border-radius: var(--radius);
    padding: 5px 10px;
    color: var(--root-color);
    font-size: 14px;
    font-weight: 500;
  }
}

@media only screen and (min-height: 700px) { /* desktop */
  .po_vend_title {
    font-size: 15px;
    margin: 10px 0 0 0;
    font-weight: 500;
  }

  .pr_all_btn {
    border: none;
    background-color: var(--config-b-color);
    border-radius: var(--radius);
    padding: 5px 10px;
    color: var(--root-color);
    font-size: 15px;
    font-weight: 500;
  }
}

.po_search_back {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 6px;
}

.po_search_icon {
  display: flex;
  justify-content: flex-end;
}

.po_search_input {
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  right: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  border-radius: var(--radius);
  top: -4px
}

#po_large {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

#po_small {
  display: flex;
  flex-flow: column;
  padding-top: calc(var(--page-padding) - 7px);
  position: relative;
}

#po_filter1 {
  display: flex;
  flex-flow: row;
}

#po_filter2 {
  display: flex;
  flex-flow: row;
  margin-top: 10px;
}

#po_filter3, #po_filter3 .po_filter_row2 {
  margin-top: 10px;
} 

.po_filter_row1, .po_filter_row2 {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
}

#po_large .po_filter_input {
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  right: var(--page-padding);
  display: flex;
  flex-flow: row;
  align-items: center;
  border-radius: var(--radius);
}

#po_small .po_filter_input {
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  display: flex;
  flex-flow: row;
  align-items: center;
  left: 0;
  border-radius: var(--radius);
  top: 62px;
  max-width: 412;
}

.ps_container {
  padding: var(--page-padding);
  overflow: scroll;
  max-height: calc(100vh - var(--header-height));
}

.ps_back {
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  border-radius: var(--radius);
  max-width: 960px;
  display: flex;
  flex-flow: column;
}

.ps_menu_back {
  padding: 10px 10px;
  display: flex;
  flex-flow: row;
  border-bottom: solid 1px var(--input1-color);
  align-items: center;
}

.ps_back_btn {
  border: none;
  border-radius: var(--radius);
  background-color: transparent;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 5px 5px 5px 0;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
}

.ps_back_icon {
  margin-right: 2px;
  font-size: 24px;
}

.ps_btn, .ps_dropdown {
  border: none;
  border-radius: var(--radius);
  background-color: transparent;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 5px;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  margin-left: 15px;
}

.ps_back_btn:hover, .ps_btn:hover, .ps_dropdown:hover {
  cursor: pointer;
  background-color: var(--back-color);
}

.ps_btn:disabled {
  cursor: not-allowed;
  background-color: transparent;
}

#ps_small .ps_btn {
  display: none;
}

.po_percent {
  margin: 0;
  font-size: 12px;
  color: var(--text2-color);
  line-height: 12px;
}

.ps_header_back {
  display: flex;
  flex-flow: row;
  margin-bottom: var(--page-padding);
  padding: 0 var(--page-padding);
}

.ps_header_side {
  flex: 1;
}

.ps_header_no {
  font-size: 24px;
  font-weight: 550;
  margin: 0;
  line-height: 28px;
}

.ps_header_status {
  font-size: 15px;
  margin: 0;
  line-height: 18px;
}

.ps_menu {
  display: flex;
  flex-flow: row;
  margin-left: auto;
}

.ps_scroll {
  margin: var(--page-padding) 0;
  overflow: scroll;
  max-height: calc(100vh - var(--header-height) - var(--page-padding) * 4 - 55px);
}

.ps_info_back {
  border-bottom: solid 1px var(--input1-color);
  padding: var(--page-padding);
}

.ps_info_row {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 5px;
}

.ps_info_label {
  font-size: 14px;
  font-weight: 550;
  margin: 0;
  width: 135px;
}

.ps_info_value {
  font-size: 14px;
  margin: 0;
}

#ps_info_large .ps_col_back {
  display: flex;
  flex-flow: row;
  margin-top: 20px;
}

#ps_info_small .ps_col_back {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
}

.ps_gap {
  width: var(--page-padding);
  height: var(--page-padding);
}

.ps_col {
  flex: 1;
}

.ps_col_title {
  font-size: 14px;
  font-weight: 550;
  margin: 0 0 2px 0;
}

.ps_col_text {
  font-size: 14px;
  margin: 0 0 1px 0;
}

.ps_list_back {
  margin: var(--page-padding) var(--page-padding) 10px var(--page-padding);
  border-bottom: solid 1px var(--input1-color);
}

.ps_list_back1 {
  padding: 5px var(--page-padding) 10px var(--page-padding);
  border-bottom: solid 1px var(--input1-color);
}

.ps_title {
  font-size: 17px;
  font-weight: 450;
  margin: 0;
}

.ps_footer_back {
  padding: 5px var(--page-padding) 0 var(--page-padding);
}

.ps_footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
}

.ps_footer_label {
  font-size: 14px;
  font-weight: 550;
  margin: 0;
}

.ps_footer_value {
  font-size: 14px;
  font-weight: 550;
  margin: 0 0 0 30px;
  text-align: right;
  min-width: 100px;
}

.a4_back {
  background-color: var(--root-color);
  width: 210mm;
  padding: 30px 25px;
}

.po_pdf_title {
  font-weight: 550;
  font-size: 20px;
  margin: 0 0 20px 0;
}

.po_pdf_row {
  display: flex;
  flex-flow: row;
  margin-bottom: 5px;
}

.po_pdf_label {
  font-weight: 550;
  font-size: 15px;
  margin: 0;
  white-space: pre;
}

.po_pdf_value {
  font-size: 15px;
  margin: 0;
}

.po_pdf_col_back {
  margin: 20px 0;
  display: flex;
  flex-flow: row;
}

.po_pdf_col {
  flex: 1
}

.po_pdf_col_gap {
  width: 30px;
  height: 30px;
}

.po_pdf_table_header {
  display: flex;
  flex-flow: row;
  border-bottom: 1px solid;
  width: '100%';
  padding-top: 15px;
  padding-bottom: 3px;
}

.po_pdf_table_header_text {
  font-weight: 550;
  font-size: 15px;
  width: 40%;
  text-align: right;
  margin: 0;
}

.po_pdf_table_row {
  display: flex;
  flex-flow: row;
  width: '100%';
  padding: 7px 0 0 0;
}

.po_pdf_table_row_text {
  font-size: 15px;
  width: 40%;
  text-align: right;
  margin: 0;
}

.po_pdf_table_footer {
  display: flex;
  flex-flow: row;
  border-top: 1px solid;
  width: '100%';
  padding-top: 3px;
  margin-top: 7px;
}

.pr_all_btn:hover {
  background-color: var(--config-color);
  cursor: pointer;
}

.ss_amt {
  position: absolute;
  bottom: 20px;
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  left: 25px;
}

.ss_sites {
  overflow-y: scroll;
  max-height: 360px;
  display: flex;
  flex-flow: column;
}

.ss_site_btn {
  display: flex;
  flex-flow: row;
  background-color: var(--root-color);
  border: none;
  max-width: 360px;
  align-items: center;
  padding: 10px 5px;
}

.ss_site_btn:not(:first-child) {
  border-top: var(--line-color) 1px solid;
}

.ss_site_text {
  margin: 0 0 0 10px;
  font-size: 15px;
}

.ss_site_title {
  margin: 10px 0 0 10px;
  font-size: 15px;
  font-weight: 500;
}