@import './color.css';

:root {
  --rp-icon: 38px;
}

.rp_drawer .ant-drawer-body {
  margin: var(--page-padding);
  padding: 0;
}

.dr_close {
  position: absolute;
  top: var(--page-padding);
  right: var(--page-padding);
  font-size: 22px;
  color: var(--text4-color);
}

.dr_close:hover {
  cursor: pointer;
  color: var(--header-color);
}

.dr_title {
  color: var(--text-color);
  font-size: 16px;
  margin: 0;
  font-weight: 450;
  text-align: center;
  padding: 25px 0 10px 0;
}

.dr_total {
  padding: 25px 0 15px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-bottom: solid 1px var(--input1-color);
}

.dr_total_value {
  color: var(--text-color);
  font-size: 34px;
  margin: 0;
  font-weight: 450;
  line-height: 36px;
}

.dr_total_label {
  color: var(--text-color);
  font-size: 15px;
  margin: 5px 0 0 0;
  line-height: 18px;
}

.dr_section {
  border-bottom: solid 1px var(--input1-color);
  padding: 10px 0;
}

.dr_text {
  color: var(--text-color);
  font-size: 14px;
  margin: 0;
  line-height: 22px;
}

.dr_item_top {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.dr_item_title {
  color: var(--text-color);
  font-size: 14px;
  margin: 0;
  flex: 1;
  line-height: 20px;
}

.dr_item_total {
  color: var(--text-color);
  font-size: 14px;
  margin: 0 0 0 10px;
  line-height: 20px;
}

.dr_item_price {
  color: var(--text2-color);
  font-size: 14px;
  margin: 0;
  line-height: 20px;
}

.dr_row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0 0 5px 0;
}

.dr_row_label, .dr_row_value {
  color: var(--text-color);
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.dr_footer {
  display: flex;
  flex-flow: row;
  padding: 10px 0 0 0;
  justify-content: space-between;
}

.dr_footer_text {
  color: var(--text2-color);
  font-size: 14px;
  margin: 0;
}

.rp_list_filter {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-left: -5px;
  padding-bottom: 6px;
}

.rp_list_select {
  border: none;
  box-shadow: none;
  background-color: transparent;
  display: flex;
  flex-flow: row;
  align-items: center;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  border-radius: var(--radius);
  padding: 3px 5px;
}

.rp_list_select:hover {
  cursor: pointer;
  background-color: var(--back-color);
}

.rp_list_select:disabled {
  cursor: not-allowed;
  background-color: transparent;
}

.rp_list_filter_icon {
  display: flex;
  justify-content: flex-end;
}

.rp_list_search_back {
  position: absolute;
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  right: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  border-radius: var(--radius);
  top: -4px
}

#rp_card_large {
  max-width: 1260px;
  display: flex;
  flex-flow: row;
  padding: 1px 0 15px 1px;
}

#rp_card_small {
  display: flex;
  flex-flow: column;
  padding: 1px 0 15px 1px;
}

.rp_card_line {
  width: 15px;
  height: 15px;
}

.rp_card_row {
  display: flex;
  flex-flow: row;
}

#rp_card_large .rp_card_btn {
  background-color: var(--root-color);
  border-radius: var(--radius);
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: transparent;
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  padding: 10px 5px;
  display: flex;
  flex-flow: column;
}

#rp_card_small .rp_card_btn {
  background-color: var(--root-color);
  border-radius: var(--radius);
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: transparent;
  box-shadow: 0px 2px 5px rgba(0,0,0,.15);
  padding: 5px 5px;
  display: flex;
  flex-flow: column;
}

.rp_card_btn:hover {
  cursor: pointer;
}

#rp_card_large .rp_card_header {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 5px;
  width: 100%;
  justify-content: space-between;
}

#rp_card_small .rp_card_header {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 5px;
  padding: 0 0;
  width: 100%;
  justify-content: space-between;
}

#rp_card_large .rp_card_icon_back {
  width: var(--rp-icon);
  height: var(--rp-icon);
  min-width: var(--rp-icon);
  min-height: var(--rp-icon);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

#rp_card_small .rp_card_icon_back {
  display: none;
}

#rp_card_large .rp_card_icon {
  color: var(--root-color);
  font-size: 24px;
}

#rp_card_small .rp_card_icon {
  color: var(--root-color);
  font-size: 22px;
}

#rp_card_large .rp_card_label {
  color: var(--text-color);
  font-size: 14px;
  margin: 0;
  line-height: 16px;
}

#rp_card_small .rp_card_label {
  color: var(--text-color);
  font-size: 14px;
  margin: 0 0 0 3px;
  line-height: 16px;
}

.rp_card_side {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  padding: 5px 0 2px 0;
}

#rp_card_large .rp_card_value {
  color: var(--text-color);
  font-size: 24px;
  margin: 0;
  text-align: center;
  line-height: 28px;
  word-wrap: break-word;
  font-weight: 500;
}

#rp_card_large .rp_card_value1 {
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 0 0;
}

#rp_card_small .rp_card_value {
  color: var(--text-color);
  font-size: 20px;
  margin: 0;
  text-align: center;
  line-height: 24px;
  word-wrap: break-word;
  font-weight: 500;
}

#rp_card_small .rp_card_value1 {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 0 0;
}

.dr_field {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 7px;
}

.dr_field_icon {
  color: var(--text2-color);
  margin-right: 7px;
  font-size: 18px;
}

.dr_field_label {
  color: var(--text-color);
  font-size: 14px;
  margin: 0;
  line-height: 16px;
  width: 80px;
}

.dr_field_label1 {
  color: var(--text-color);
  font-size: 14px;
  margin: 0 5px 0 0;
  line-height: 16px;
}

.dr_field_value {
  color: var(--text-color);
  font-size: 14px;
  margin: 0;
  font-weight: 500;
  line-height: 16px;
  flex: 1;
}

.dr_header {
  display: flex;
  flex-flow: row;
  border-bottom: solid 1px var(--input1-color);
  border-top: solid 1px var(--input1-color);
  margin: 15px 0 5px 0;
  padding: 5px 0;
}

.dr_header_text1 {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 550;
  margin: 0;
  width: 40%;
}

.dr_header_text2 {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 550;
  margin: 0;
  width: 10%;
  text-align: right;
}

.dr_header_text3 {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 550;
  margin: 0;
  width: 22%;
  text-align: right;
}

.dr_header_text4 {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 550;
  margin: 0;
  width: 28%;
  text-align: right;
}

.dr_list {
  border-bottom: solid 1px var(--input1-color);
}

.dr_item1 {
  padding-bottom: 5px;
}

.dr_item {
  padding-bottom: 5px;
  display: flex;
  flex-flow: row;
}

.dr_item_row {
  display: flex;
  flex-flow: row;
}

.dr_item_text {
  color: var(--text-color);
  font-size: 14px;
  margin: 0;
}

.dr_item_text1 {
  color: var(--text-color);
  font-size: 14px;
  margin: 0;
  width: 40%;
}

.dr_item_text2 {
  color: var(--text-color);
  font-size: 14px;
  margin: 0;
  width: 10%;
  text-align: right;
}

.dr_item_text3 {
  color: var(--text-color);
  font-size: 14px;
  margin: 0;
  width: 22%;
  text-align: right;
}

.dr_item_text4 {
  color: var(--text-color);
  font-size: 14px;
  margin: 0;
  width: 28%;
  text-align: right;
}

.rr_graph_cont {
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  max-width: 1260px;
  border-radius: var(--radius);
  margin-bottom: var(--page-padding);
}

.rr_card_back {
  display: flex;
  flex-flow: row;
  border-bottom: solid 1px var(--input1-color);
  overflow: scroll;
}

#rr_large .rr_card {
  padding: 15px 5px;
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: transparent;
  min-width: 150px;
  background-color: transparent;
}

#rr_small .rr_card {
  padding: 10px 3px;
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: transparent;
  min-width: 120px;
  background-color: transparent;
}

.rr_card:hover {
  cursor: pointer;
}

#rr_large .rr_card_label {
  color: var(--text-color);
  font-size: 13px;
  margin: 0 0 2px 0;
  line-height: 15px;
  font-weight: 450;
}

#rr_small .rr_card_label {
  color: var(--text-color);
  font-size: 12px;
  margin: 0 0 2px 0;
  line-height: 15px;
  font-weight: 450;
}

#rr_large .rr_card_value {
  color: var(--text-color);
  font-size: 24px;
  line-height: 28px;
  word-break: break-all;
  text-align: center;
  margin: 3px 0 0 0;
}

#rr_small .rr_card_value {
  color: var(--text-color);
  font-size: 20px;
  line-height: 24px;
  word-break: break-all;
  text-align: center;
  margin: 3px 0 0 0;
}

.rr_card_value1 {
  font-size: 13px;
  margin: 0;
  line-height: 15px;
  font-weight: 500;
}

#rr_large .rr_graph_header {
  display: flex;
  flex-flow: row;
  padding: var(--page-padding);
}

#rr_small .rr_graph_header {
  display: flex;
  flex-flow: column;
  padding: var(--page-padding);
}

.rr_graph_title {
  font-size: 15px;
  font-weight: 450;
  margin: 0;
  flex: 1;
}

.rr_graph_sub {
  font-size: 13px;
  margin: 0;
  font-weight: normal;
}

#rr_large .rr_graph_selects {
  display: flex;
  flex-flow: row;
  margin-left: var(--page-padding);
}

#rr_small .rr_graph_selects {
  display: flex;
  flex-flow: row;
  margin-top: 10px;
}

.rr_graph_select.ant-select .ant-select-selector {
  box-shadow: none;
  border: none;
  color: var(--text-color);
  font-size: 14px;
  background-color: var(--back-color);
  border-radius: var(--radius);
  width: 120px;
}

.rr_graph_select .ant-select-selector {
  box-shadow: none !important;
}

.rr_graph_select .ant-select-arrow {
  color: var(--text4-color);
  font-size: 16px;
}

.rp_list_drop.ant-select .ant-select-selector {
  box-shadow: none;
  border: none;
  font-size: 14px;
  background-color: transparent;
  border-radius: var(--radius);
}

.rp_list_drop .ant-select-selection-overflow {
  display: none;
}

.rp_list_drop .ant-select-arrow {
  right: 0;
}

.rp_list_drop_icon {
  color: var(--text2-color);
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.rp_list_drop:hover .rp_list_drop_icon {
  color: var(--config-color);
}

.dr_line {
  border-top: solid 1px var(--input1-color);
  margin-bottom: 5px;
}

.ri_card {
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  background-color: var(--root-color);
  max-width: 1260px;
  border-radius: var(--radius);
  margin-bottom: var(--page-padding); 
}

#ri_large {
  display: flex;
  flex-flow: row;
}

#ri_small {
  display: flex;
  flex-flow: column;
}

#ri_large .ri_top_back {
  border-right: solid 1px var(--input1-color);
  padding: var(--page-padding);
  min-width: 330px;
  max-width: 330px;
}

#ri_small .ri_top_back {
  border-bottom: solid 1px var(--input1-color);
  padding: var(--page-padding) var(--page-padding) 5px var(--page-padding);
}

.ri_top_header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.ri_top_title {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

.ri_top_label {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
}

#ri_large .ri_top_item {
  display: flex;
  flex-flow: row;
  margin: 20px 0 0 0;
  align-items: center;
}

#ri_small .ri_top_item:first-child {
  display: flex;
  flex-flow: row;
  padding: 0 0 10px 0;
  align-items: center;
}

#ri_small .ri_top_item:not(:first-child){
  display: flex;
  flex-flow: row;
  border-top: solid 1px var(--input1-color);
  padding: 10px 0 10px 0;
  align-items: center;
}

.ri_top_circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 15px;
}

.ri_top_name {
  margin: 0;
  font-size: 15px;
  flex: 1;
}

.ri_top_value {
  margin: 0 0 0 10px;
  font-size: 15px;
  width: 30%;
  text-align: right;
}

.ri_graph_back {
  flex: 1;
}

.ri_tooltip {
  background-color: var(--root-color);
  padding: 10px;
  border: 1px solid var(--input1-color);
}

.ri_tooltp_lbl {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.ri_tooltip_item {
  font-size: 14px;
  margin: 5px 0 0 0;
}

.rw_card_back {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-bottom: 5px;
  margin-right: -10px;
  max-width: 1270px;
}

.rw_card {
  background-color: var(--root-color);
  border-radius: var(--radius);
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  padding: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.rw_card_row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.rw_card_name {
  margin: 0;
  font-size: 12px;
  color: var(--text2-color);
  flex: 1;
  margin-right: 5px;
}

.rw_card_count {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.rw_card_amt {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.rw_card_row2 {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.rw_card_col {
  flex: 1;
}

.rw_card_type {
  display: flex;
  flex-flow: row;
  flex: 1;
  align-items: center;
}

.rw_card_icon {
  font-size: 20px;
  color: var(--text4-color);
}

.rw_card_cash {
  margin: 0 0 0 5px;
  font-size: 13px;
  font-weight: 600;
  color: var(--text2-color);
}

.rw_card_progress .ant-progress-text {
  font-size: 11px;
  font-weight: 650;
}

.rw_card_basket {
  font-size: 15px;
  margin-right: 3px;
}
.rr_card_back1 {
  display: flex;
  flex-flow: row;
  border-top: solid 1px var(--input1-color);
  overflow: scroll;
  justify-content: center;
}
.rp_row_text{
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;

}
.rp_row_back{
  display: flex;
  flex-flow: row;
  margin-left: 10px;
  margin-top: 5px;
  align-content: center;
}